// Typography
$font-header: neue-haas-grotesk-display, sans-serif;
$font-body: neue-haas-grotesk-display, sans-serif;
// $font-body: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

// Colours
$clr-dark: #030303;
$clr-white: #ffffff;
$clr-shade: darken($clr-white, 5%);

$bold-weight: 700;

// Golden ratio
$main: 100% / 1.62;
$aside: 100% - $main;