@import 'reset';

html {
  font-family: $font-body;
  font-size: 16px;
  font-weight: 300;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: $clr-dark;
}

*,
*::before {
  box-sizing: border-box;
}

.inner {
  margin: 0 auto;
  padding: 0 2rem;
}

a,
a:visited,
a:active {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  width: 100%;
}

ol,
li {
  line-height: 1.4;
  margin-bottom: 0.3rem;
  padding-left: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  font-weight: $bold-weight;
  letter-spacing: 0.5px;
  line-height: 1.4;
}

p,
li,
ol {
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  .inner {
    padding: 0 4rem;
  }
}